:root
{
    --darkviolet: #211832;
    --violet: #412B6B;
    --lightviolet: #5C3E94;
    --orange: #F25912;
}

body
{
    background-color: var(--darkviolet);
    
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
    gap: 10px;

}

.frame
{
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 100px;
    background-color: var(--violet);
    color: var(--orange);
    border-radius: 20px;
    font-size: 4.5em;


}

.control
{
    /* display */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 300px;
    height: 60px;
    /* background-color: var(--violet); */

}

.button
{
    width: 90px;
    height: 75%;
    border: none;
    border-radius: 10px;
    font-size: 1.4em;
    background-color: var(--violet);
    color: var(--orange);
    transition: transform 0.2s ease;
}

.button:hover
{
    background-color: var(--orange);
    color: var(--darkviolet);
}

.button:active
{
    transform: scale(0.8);
}