:root
{
    --darkviolet: #211832;
    --violet: #412B6B;
    --lightviolet: #5C3E94;
    --orange: #F25912;
    --transition: 0.5s ease;
}

*{
    font-family: monospace;
    transition: var(--transition);
}

*::selection
{
    background-color: var(--orange);
    color: var(--darkviolet);
}

body
{
    background-color: var(--darkviolet);
    
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
    gap: 10px;

}

.theme
{
    width: 75px;
    height: 30px;
    background-color: var(--violet);
    color: var(--orange);
    border-radius: 8px;

    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;
}


.units
{
    width: 250px;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    color: var(--orange);
    align-items: end;

    /* display */
    display: flex;
    justify-content: space-evenly;
}

.units p
{
    margin: 0;
}

.frame
{
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 100px;
    background-color: var(--violet);
    color: var(--orange);
    border-radius: 20px;
    font-size: 4.5em;
    transition: none;


}

.control
{
    /* display */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 300px;
    height: 60px;

}

.button
{
    width: 90px;
    height: 75%;
    border: none;
    border-radius: 10px;
    font-size: 1.4em;
    background-color: var(--violet);
    color: var(--orange);
    transition: transform 0.2s ease;
}








/* EFFECTS AND ANIMATIONS */
.button:hover, .theme:hover
{
    cursor: pointer;
    background-color: var(--orange);
    color: var(--darkviolet);
    transition: 0.3s ease;
}

.button:active, .theme:active
{
    cursor: pointer;
    transform: scale(0.8);
}