:root
{
    --darkviolet: #211832;
    --violet: #412B6B;
    --lightviolet: #5C3E94;
    --orange: #F25912;
}

body
{
    background-color: var(--darkviolet);
    
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
    gap: 10px;

}

.frame
{
    width: 300px;
    height: 100px;
    background-color: var(--violet);
    color: var(--orange);

    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
}

.control
{
    width: 300px;
    height: 100px;
    background-color: var(--violet);
}