:root
{
    --darkviolet: #211832;
    --violet: #412B6B;
    --lightviolet: #5C3E94;
    --orange: #F25912;
}

body
{
    background-color: var(--darkviolet);
    
    /* display */
    display: flex;
    align-items: center;
    justify-self: center;
    height: 95vh;

}

.frame
{
    width: 500px;
    height: 500px;
    background-color: var(--violet);
}